@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  margin: 0px;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  min-height: 100vh;
  --primary-bg-color: #a3c7d6;
  --primary-bg-opacity-color: #a3c7d680;
  --second-bg-color: #ffffff;
  --second-bg-color-hover: #eeeeee;
  --border-color: #6b6c6d;
  --primary-text-color: #000000;
  --second-text-color: #ffffff;
  --bg-opacity-modal: rgba(0, 0, 0, 0.5);
  --about-color: #f1f1f1e7;
}
