.land {
    background: linear-gradient(rgba(30, 33, 43, 0.151), rgba(60, 63, 73, 0.151)), url(../../assets//img/landing-photo.jpg) ; 
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.content {
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  mix-blend-mode: screen ;
  padding: 10px;

  z-index: 1;
   text-shadow: 2px 2px 0 rgb(94, 85, 85), 2px -2px 0 rgb(125, 103, 103), -2px 2px 0 rgb(112, 108, 108), -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
 
}

.title {
  font-size: 137px;
  
}

.sub_title {
  font-size: 45px;
  font-weight: 600;
}